@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

html, body {
    overflow: hidden !important;
}

html, body {
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden !important; /* FORCE REMOVE SCROLLBAR */
    font-family: 'Work Sans', sans-serif; /* Apply Work Sans font globally */
  }

* {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

  
  #__next, #root {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
  }
  
  #root > div {
  }
  